body{
	height: 100%;
	background-color: #fafafa;
	color: #444;
}

nav{
	background-color: transparent;
	box-shadow: none;
}

nav a{
	color: #444 !important;
}

.row{
	margin: 0px 0px;
	padding-top: 40px;
}

h4{
	margin: 0px;
	line-height: 1.2em;
	margin-bottom: 40px;
}

.moto{
	height: 80vh;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
}

.moto h4{
	padding-top: 200px;
	margin-bottom: 0px;
}

/*
.features{
	height: 80vh;
	background-color: white;
	border-bottom: 1px solid #ddd;
}
*/

.feature{
	background-color: white;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	height: 300px;
}


.features-nav{
	margin-bottom: 20px;
}

ul.tabs{
	background-color: transparent;
}

ul.tabs li.tab{
	background-color: transparent;
}

ul.tabs a{
	border-bottom: 1px solid #ddd;
}

.usage{
	height: 80vh;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
}

.benchmarks{
	height: 80vh;
	background-color: white;
	border-bottom: 1px solid #ddd;
}

.qstart{
	height: 80vh;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
}

.calltoaction{
	height: 40vh;
	background-color: white;
	border-bottom: 1px solid #ddd;
}

footer.page-footer{
	margin-top: 0px;
}