html {
  position: relative;
  min-height: 100%;
}

body{
	height: 100%;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	/* margin-bottom: 290px; */
	font-weight: 300;
}

@font-face {
  font-family: 'LogosFont';
  src: url('../fonts/LogosFont.ttf');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: LogosFont ;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
	background-color: #fafafa !important;
	border: none !important;
	box-shadow: none;
	padding: 15px 0px;
	margin-bottom: 0px;
}

a.navbar-brand{
	font-size: 24px;
	padding: 0px 15px;
}

.navbar span{
	font-size: 40px;
}

nav a{
	color: #444 !important;
	font-size: 16px;
}

.row{
	margin: 0px;
}

.btn-default{
	background-color: #26a69a;
	border: 1px solid #26a69a;
	border-radius: 2px;
	min-width: 150px;
	color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin: 0px 5px;
}

.btn-default:hover{
	background-color: #2bbbad;
	border: 1px solid #2bbbad;
	border-radius: 2px;
	min-width: 150px;
	color: white;
}

.btn-community{
	background-color: transparent;
	border: 1px solid #26a69a;
	border-radius: 2px;
	min-width: 150px;
	color: #26a69a;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin: 0px 5px;
}

.btn-community:hover{
	background-color: transparent;
	border: 1px solid #2bbbad;
	border-radius: 2px;
	min-width: 150px;
	color: #2bbbad;
}

footer{
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  color: #bbb;
  margin: 0px;
  background-color: #455a64;
  padding-top: 40px;
}

footer a{
	color: #bbb;
}

footer a:hover{
	color: #ddd;
}

.footer-bottom{
	margin-top: 40px;
	background-color: rgba(51,51,51,0.08);
	height: 40px;
}

.footer-bottom p{
	font-weight: 300;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 15px;
	color: #bbb;
}

/* Index Styles */

.row-content{
	background-color: white;
	border-bottom: 1px solid #eee;
	font-size: 18px;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0px 0px;
}

.moto{
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 250px 0px;
	background-color: #fafafa;
}

.positioning p{
	width: 50%;
}

.calltoaction{
	text-align: center;
}

.offer{
	text-align: center;
}

.offer p{
	margin-left: auto;
	margin-right: auto;
}

main .row-content:nth-child(odd){
	background-color: #fafafa;
}

main .row-content:nth-child(odd){
	background-color: #fafafa;
}

/* Getting Started Page */

.sub-nav{
	position: relative;
}

ul.subnav-list{
	position: fixed;
	padding-top: 20px;
}

ul.subnav-list li{
	padding: 0px 20px;
}

.gstarted{
	padding: 40px 0px;
}

.docs-content{
	border-right: 1px solid #eee;
	padding-right: 40px;
}

.docs-content h3{
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 0px;
}

.docs-content p{
	font-size: 16px;
}



