---
layout: default
title: FHIRbase
---

{% assign docs = site.docs | sort: 'order' %}
<div class="container gstarted">
	<div class="col-md-9 docs-content">
		{% for doc in docs %}
			<h1 id="{{ doc.id }}"> {{doc.title}} </h1>
			<hr>
			{{ doc.content }}
			<br>
		{% endfor %}
	</div>
	<div class="col-md-3 sub-nav">
		<ul class="subnav-list list-unstyled" id="nav">
                {% for instruction in docs %}
		     <li {% if instruction.order == 1 %}class="current"{% endif %}><a href="#{{instruction.id}}">{{instruction.title}}</a></li>
		  {% endfor %}
		</ul>
	</div>
</div>
