---
layout: default
title: FHIRbase
---

{% assign instructions = site.instructions | sort: 'order' %}
<div class="container gstarted">
	<div class="col-md-9 docs-content">
		{% for instruction in instructions %}
			<h1 id="{{ instruction.id }}">
				{{instruction.title}}
			</h1>
			<hr>
			{{ instruction.content }}
			<br>
		{% endfor %}
	</div>
	<div class="col-md-3 sub-nav">
		<ul class="subnav-list list-unstyled" id="nav">
                  {% for instruction in instructions %}
		     <li {% if instruction.order == 1 %}class="current"{% endif %}><a href="#{{instruction.id}}">{{instruction.title}}</a></li>
		  {% endfor %}

		</ul>
	</div>
</div>
