---
layout: default
title: FHIRbase
---

{% assign instructions = site.instruction | sort: 'order' %}
<div class="container gstarted">
	<div class="col-md-9">
		{% for instruction in instructions %}
			<h3 id="{{ instruction.id }}">
				{{instruction.title}}
			</h3>
			{{ instruction.content }}
			<hr>
			<br>
		{% endfor %}
	</div>
	<div class="col-md-3 sub-nav">
		<ul class="subnav-list list-unstyled">
                  {% for instruction in instructions %}
		     <li><a href="#{{instruction.id}}">{{instruction.title}}</a></li>
		  {% endfor %}

		</ul>
	</div>
</div>
