<!doctype html>
<html ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="imgs/logo.png">
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" /> -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="app.css" />
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://fhirbase.github.io/"><span class="icon">L</span> FHIRbase</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://fhirbase.github.io/index.html">Overview</a></li>
        <li class="active"><a href="tutorial.html">Tutorial</a></li>
        <li><a href="index.html">Demo</a></li>
        <li><a href="http://fhirbase.github.io/installation.html">Installation</a></li>
        <li><a href="http://fhirbase.github.io/docs.html">Docs</a></li>
        <li><a href="http://fhirbase.github.io/support.html">Support</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Static navbar -->
<div class="view">
  <div class="container">
    <div class="tutorial-container" markdown-tutor>
    </div>
  </div>
</div>

<div class="result" ng-class="{open: showResult}">
  <h3 class="result-header"  ng-click="showResult =! showResult">
    result<span ng-if="queryTiming">: {{queryTiming}} ms</span>
    <span ng-class="{'glyphicon-chevron-up': !showResult, 'glyphicon-chevron-down': showResult}" class="glyphicon icon-collapse"></span>
  </h3>
  <div class="result-content">
    <div ng-if="error" class="alert alert-danger error" style="white-space: pre;">{{errorMessage}}</div>
    <h3 ng-if="queryResultIsEmpty">Empty result</h3>
    <table class="table">
      <thead>
        <tr>
          <th ng-repeat="(k,v) in result[0]">
            {{k}}
          </th>
        </tr>
      </thead>
      <tr ng-repeat="row in result">
        <td ng-repeat="(k,v) in row">
          {{v}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div style="margin-top: 600px"></div>

<script src="tutor.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60863142-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
